# Renomeie este arquivo para .env e preencha os valores

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=chip_e_cia

# API Groq
GROQ_API_KEY=sua_chave_groq_aqui

# Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=uma_chave_secreta_muito_forte_aqui

